.container {
  display: flex;
}

.content {
  padding-left: 5rem;
}

.sidebar {
  padding-right: 5rem;
}

.sidebar form {
  padding: 20px;
  background: #1f9751;
  border-radius: 10px;
  min-width: 20rem;
}

.sidebar input,
.sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: #555;
  font-size: 1em;
}

.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #fff;
}

.sidebar button {
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.sidebar h3 {
  color: #1f9751;
  margin-bottom: 20px;
}

.sidebar aside {
  margin-top: 40px;
  color: #555;
}

.sidebar aside li {
  margin: 10px;
}

/* transactions */
.transactions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.transactions li {
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 1.2rem;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
  width: 18rem;
}

@media (max-width: 767px) {
  .transactions li {
    width: 15rem;
  }
}

.transactions .name {
  color: #777;
  font-size: 1.4em;
}

.transactions .month {
  color: #777;
  font-size: 0.8em;
}

.transactions .amount {
  color: #777;
  font-weight: bold;
  font-size: 1.2em;
}

.transactions button {
  position: absolute;
  top: 0;
  right: 0;
  background: #1f9751;
  color: white;
  border: none;
  padding: 12px 8px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.select {
  color: #777;
}

/* project filter  */

.transactionFilter {
  margin-top: 1rem;
}

.transactionFilter nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

/* @media (max-width: 768px) {
  .transactionFilter nav {
    display: flex;
    flex-direction: column;
  }
} */

.transactionFilter p {
  font-size: 0.9em;
  margin-right: 10px;
}

.transactionFilter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 0.9em;
}

/* @media (max-width: 768px) {
  .transactionFilter button {
    border-right: 0;
    border-bottom: 1px solid #e4e4e4;
  }
} */

.transactionFilter button:hover:not(.active) {
  transition: color 0.1s;
  color: rgb(73, 73, 73);
}

.transactionFilter button.active {
  color: #1f9751;
}

.transactionFilter button:last-child {
  border: 0;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .content {
    order: 2;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .sidebar {
    order: 1;
    margin: 0;
    max-width: 10rem;
    padding-left: 1rem;
  }
}

/* @media (max-width: 768px) {
  .transactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
} */

@media (max-width: 768px) {
  .transactions li {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
    padding: 0.7rem;
    position: relative;
    overflow: hidden;
    border-left: 3px solid #1f9751;
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .transactionFilter nav {
  width: 20rem;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  padding: 0;
  margin: 0;
}
}

@media (max-width: 768px) {
  .transactions {
    width: 20rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .transactionsBox {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}